div.main {
	position: relative;
	/*font-family: 'Lato';*/
}	

h1 {
	position: absolute;
	text-align: center;
}

div.about {
	padding-top: 300px;
	margin-left: 50px;
	/*font-family: 'Lato';*/

}

div.experiences {
	padding-top: 300px;
	margin-left: 50px;
	/*font-family: 'Lato';*/

}

div.contact {
	padding-top: 300px;
	margin-left: 50px;
	/*font-family: 'Lato';*/

}
