.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    max-width: 1000px;
    margin: 100px auto 75px auto;
  }

  .about-img {
    margin: auto 20px auto 50px;
  }

  .about-img > img {
    width: 400px;
    height: auto;
  }
  
  .about-title {
    font-size: 18px;
    text-align: left;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .about-text {
    font-size: 18px;
    text-align: left;
    width: 90%;
    max-width: 2000px;
    height: auto;
    margin: auto;
  }

  @media only screen and (max-width: 767px) {
    .about-container {
      flex-direction: column;
      margin-top: 100px;
    }

    .about-img {
      margin-left: 50px;
      margin-right: 50px;
    }  

    .about-img > img {
      width: 100%;
      height: auto;
    }

    .about-title {
      margin-top: 50px;
    }

  }

  @media only screen and (max-width: 475px) {
    .about-container {
      flex-direction: column;
      margin-top: 100px;
    }

    .about-img {
      margin-left: 0;
      margin-right: 0;
    }  

    .about-img > img {
      width: 100%;
      height: auto;
    }

    .about-title {
      margin-top: 50px;
    }

  }


  