
body {
	height: 100%;
	margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 700px;
  margin: 100px auto;
}

#main-title {
  font-size: 60px;
  text-align: center;
}

#main-description {
  font-size: 24px;
  text-align: center;
  width: 80%;
  max-width: 700px;
  height: auto;
  margin: auto;
}

#experience-title {
  font-size: 32px;
  margin-left: 10%;

}

.experience-obj-container {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 700px;
  margin: 100px auto;
  overflow: auto;
}

.experience-obj-image {

}

.experience-obj {
}

.company {
  font-size: 24px;

}

.position {
  font-size: 24px;

}

.wattpad {
  background-color: rgb(254, 80, 9);
}

.wattpad-image {
  width: 300px;
  height: auto;
}